{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "google",
    "plugin:vue/essential",
    "prettier"
  ],
  // required to lint *.vue files
  "plugins": [
    "vue"
  ],
  // add your custom rules here
  "rules": {
    "semi": [
      2,
      "never"
    ],
    "no-console": "off",
    "vue/max-attributes-per-line": "off",
      "require-jsdoc": "off"
  }
}
